body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(159, 212, 248); */
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

ul {
  list-style-type: none;
}

/* buttons */

.btn {
  background-color: black;
  color: #fff;
}

.link-btn {
  display: none;
}

.signin-btn {
  display: none;
}

.toggle-btn {
  padding: 0.5rem 0.85rem;
  border-radius: 5px;
  border: none;
}

=========================
/* nav-css */
=========================
.nav {
  height: 5rem;
  justify-content: center;
  align-items: center;
  background: transparent;
  /* position: relative;
  z-index: 1; */
}

.nav-container {
  width: 90vw;
  max-width: var(--max-width);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  margin-left: 2rem;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px black;
}

@media screen and (min-width: 768px) {
  .nav-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .nav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

  .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
    display: block;
  }

  .signin-btn {
    display: block;
  }

  .toggle-btn {
    display: none;
  }
}
